.card {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    width: 100%;
}

.card .header {
    border-bottom: 1px solid #dcdcdc;
}

.card .body {
    border-bottom: 1px solid #dcdcdc;
}

.titleText {
    color: #616d6b;   
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}