.card {
    border: 1px solid #aaa;
    border-radius: 8px;
    width: 100%;
}

.card .header {
    border-bottom: 1px solid #aaa;
}

.card .body {
    border-bottom: 1px solid #aaa;
}

.titleText {
    color: #616d6b;   
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}