<div>
    <div class="card">
        <h5 class="header">
            <fa-icon [icon]="penIcon" flip="horizontal"></fa-icon> create buzz
        </h5>
        <div class="body">
            <form (ngSubmit)="postBuzz(f)" #f="ngForm">
                <textarea ngModel name="description" placeholder="Share your thought...."></textarea>
                <ttnd-dropdown id="dropdown" heading="Category" [options]="options"
                    (selectChanged)="categoryChanged($event)">
                </ttnd-dropdown>
                <div class="attachment">
                    <label for="fileInput">
                        <fa-icon [icon]="imageIcon"></fa-icon>
                    </label>
                    <input id="fileInput" type="file" multiple (change)="fileChange($event)">
                </div>
                <button class="submit" type="submit">
                    <fa-icon [icon]="postIcon"></fa-icon>
                </button>
            </form>
        </div>
    </div>

    <div class="card">
        <h5 class="header">
            <fa-icon [icon]="atIcon"></fa-icon> recent buzz
        </h5>
        <div class="body">
            <div class="post">
                <ttnd-buzz-post [post]="{}"></ttnd-buzz-post>
            </div>
            <div class="post">
                <ttnd-buzz-post [post]="{}"></ttnd-buzz-post>
            </div>
            <div class="post">
                <ttnd-buzz-post [post]="{}"></ttnd-buzz-post>
            </div>
            <div class="post">
                <ttnd-buzz-post [post]="{}"></ttnd-buzz-post>
            </div>
            <div class="post">
                <ttnd-buzz-post [post]="{}"></ttnd-buzz-post>
            </div>
        </div>
    </div>
</div>