<div>
    <div class="card">
        <h5 class="header">
            <fa-icon [icon]="penIcon" flip="horizontal"></fa-icon> create buzz
        </h5>
        <div class="body">
            <form (ngSubmit)="postBuzz(f)" #f="ngForm">
                <textarea ngModel name="description" placeholder="Share your thought...." required></textarea>
                <ttnd-dropdown id="dropdown" heading="Category" [options]="options"
                    (selectChanged)="categoryChanged($event)">
                </ttnd-dropdown>
                <div class="attachment">
                    <label for="fileInput">
                        <fa-icon [icon]="imageIcon"></fa-icon>
                    </label>
                    <input id="fileInput" type="file" multiple (change)="fileChange($event)">
                </div>
                <button class="submit" type="submit" [disabled]="!f.valid || !category">
                    <fa-icon [icon]="postIcon"></fa-icon>
                </button>
            </form>
        </div>
    </div>

    <div class="card">
        <h5 class="header">
            <fa-icon [icon]="atIcon"></fa-icon> recent buzz
        </h5>
        <div class="body" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="0"
            (scrolled)="onScroll()" [scrollWindow]="false">
            <div *ngIf="posts.length === 0" class="loader">
                <ttnd-loader animation="cubes"></ttnd-loader>
            </div>
            <div class="post" *ngFor="let post of posts">
                <ttnd-buzz-post [post]="post"></ttnd-buzz-post>
            </div>
            <div class="lazyLoader" *ngIf="showLoader">
                <ttnd-loader [outerDimension]="50" [innerDimension]="30"></ttnd-loader>
            </div>
        </div>
    </div>
</div>