.card {
    position: relative;
}

.header {
    padding: 2rem;
    margin-bottom: 0;
    background-color: #f2f2f2;
    position: relative;
}

.header h5 {
    order: -1;
    margin-bottom: 0;
}

.header>span {
    margin-left: 1rem;
    margin-top: 5px;
}

.filterSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.2rem;
    height: 45px;
    margin-top: 1rem;
    outline: none;
    transition: 0.2s ease-in-out;
    max-width: 900px;
}

.filterSelect>span {
    text-transform: capitalize;
}

.filterSelect .info {
    text-transform: none;
    flex-basis: 100%;
}

.filterSelect .fieldGroup {
    display: flex;
    align-items: stretch;
    flex: 3;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    max-height: 40px;
}

.filterSelect .fieldGroup input {
    border: none;
    flex: 2;
    padding-left: 1rem;
    border-radius: inherit;
}

.filterSelect .fieldGroup .dropdown {
    flex: 1;
    min-width: 110px;
}

.filterSelect .dropdown {
    flex: 2;
}

.filterSelect .filterControlContainer {
    max-width: 120px;
}

.filterSelect .filterControl {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    transition: 0.2s ease-in-out;
    margin-left: 1rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.filterSelect .filterControl:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.ml-1 {
    margin-left: 1rem;
}

.green {
    color: #10be1f;
}

.red {
    color: #f00;
}

.table {
    background-color: #fff;
}

.table th {
    width: 15%;
}

.table td {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

form {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 5px #777;
    max-width: 200px;
    max-height: 128px;
    text-align: right;
    font-size: 1.4rem;
}

form h6 {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

form h6 a {
    color: #777;
    font-size: 1.4rem;
    position: absolute;
    right: 5px;
    top: 5px;
}

form .formElementGroup {
    display: flex;
    justify-content: space-between;
}

form .formElementGroup input[type="number"] {
    border: 1px solid #dcdcdc;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    width: 35%;
}

form .formElementGroup .formDropdown {
    text-align: left;
    width: 63%;
}

form .submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    height: 30px;
    width: 30px;
    color: #e04a32;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding-left: 2px
}

form .submit:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

form .submit:disabled {
    color: #db6958;
    background-color: #ddd;
    pointer-events: none;
}

.popupBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.moreInfo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.moreInfo .content {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 2px #777;
    border-radius: 4px;
    padding: 2rem 3rem;
    max-height: 300px;
    overflow-y: auto;
}

.moreInfo .content .close {
    font-size: 2rem;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.2s ease-in-out;
}

.moreInfo .content .close:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.moreInfo .content h1 {
    margin-bottom: 2rem;
}

.moreInfo .content h1 .issueId {
    cursor: pointer;
}

.moreInfo .content h1 .status {
    font-size: 1.4rem;
    margin-left: 1rem;
}

.moreInfo .content h1 .date {
    font-size: 1.4rem;
    width: 100%;
}

.moreInfo .content .details {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.moreInfo .content .details .dept {
    font-size: 1.8rem;
    width: 100%;
    margin-bottom: 5px;
}

.moreInfo .content .assignedTo {
    width: 100%;
}

.moreInfo .content .description {
    font-size: 1.2rem;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 12;
}

.overlay .processing fa-icon {
    font-size: 6.4rem;
    color: #adff2f;
}

.overlay .processing span {
    font-size: 2.4rem;
    color: #ff0000;
    text-align: center;
}

.issueId {
    color: #1a73e8;
    text-decoration: underline;
    font-weight: 500;
}

.lazyLoader {
    background-color: #fff !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.lazyLoader span {
    color: #f00;
    font-size: 1.8rem;
}

tbody {
    display: block;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em);
    border-bottom: 1px solid #dcdcdc;
}

.fixHeight {
    max-height: 300px;
    overflow-y: scroll;
}

.loader {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.loader span {
    color: #f00;
    font-size: 1.8rem;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 12;
}

.overlay .processing fa-icon {
    font-size: 6.4rem;
    color: #adff2f;
}

.overlay .processing span {
    font-size: 1.6rem;
    color: #ff0000;
    text-align: center;
}

@media(max-width: 992px) {
    .filterSelect .fieldGroup input {
        max-width: 150px;
    }
}

@media(max-width: 720px) {
    .filterSelect {
        height: auto;
    }
    .filterSelect .fieldGroup {
        flex-basis: 80%;
    }
    .filterSelect .fieldGroup input {
        max-width: unset;
    }
    .filterSelect .fieldGroup .dropdown {
        position: relative;
        top: -1rem;
    }
    .filterSelect .info {
        order: 0;
    }
    .filterSelect .fieldGroup, .filterSelect .filterControlContainer {
        order: 1;
    }
    .filterSelect .dropdown {
        order: 2;
        margin-top: 1rem;
    }
    .ml-none {
        margin-left: 0;
    }
}