<div class="card">
    <h3>who we are?</h3>
    <p>
        TO THE NEW is a premium digital technology company that provides end-to-end Product Engineering and Digital
        Transformation services to Fortune 500 companies and Silicon Valley startups across the globe.
        <br><br>
        The DNA of our Product Engineering services include design led engineering, cloud-native development,
        microservices
        driven architecture, DevOps, & CICD-led processes. Being an Agile company, we respond to change and pivot fast
        to
        create the best market fit with a quick turnaround time.
    </p>
</div>



<div class="card">
    <h3>what do we stand for</h3>
    <ul>
        <li>
            <span class="image">
                <img src="../../assets/images/customSuccess.png" alt="customSuccess">
            </span>
            <div class="description">
                <h4>Customer Success</h4>
                <span>Customer success is more important than anything else</span>
            </div>
        </li>
        <li>
            <span class="image">
                <img src="../../assets/images/transparency.png" alt="transparency">
            </span>
            <div class="description">
                <h4>Transparency</h4>
                <span>Transparency and honesty in whatever we do and say</span>
            </div>
        </li>
        <li>
            <span class="image">
                <img src="../../assets/images/agility.png" alt="agility">
            </span>
            <div class="description">
                <h4>Agility</h4>
                <span>Speed and Agility in all our actions</span>
            </div>
        </li>
        <li>
            <span class="image">
                <img src="../../assets/images/constantLearning.png" alt="constantLearning">
            </span>
            <div class="description">
                <h4>Constant Learning</h4>
                <span>Pushing ourselves for constant learning</span>
            </div>
        </li>
        <li>
            <span class="image">
                <img src="../../assets/images/entreprenuialSpirit.png" alt="entreprenuialSpirit">
            </span>
            <div class="description">
                <h4>Entrepreneurial spirit</h4>
                <span>Spirit of entrepreneurship defines us</span>
            </div>
        </li>
        <li>
            <span class="image">
                <img src="../../assets/images/creativity.png" alt="creativity">
            </span>
            <div class="description">
                <h4>Creativity and Innovation</h4>
                <span>Thinking outside the box</span>
            </div>
        </li>
    </ul>
</div>