.card:first-child {
    margin-bottom: 2rem;
}

.header {
    padding: 1rem 2rem;
    margin-bottom: 0;
    background-color: #f2f2f2;
}

.body {
    padding: 1rem;
    border-bottom: none !important;
    background-color: #fff;
}

.body form {
    display: flex;
    flex-wrap: wrap;
}

.formElement {
    flex-basis: 50%;
    padding: 1rem;
    font-size: 1.4rem;
}

.formElement label {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.formElement input {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 1.6rem;
    padding: 1rem 2rem;
}

.fullwidth {
    flex-basis: 100%;
}

.formElement textarea {
    width: 100%;
    height: 150px;
    padding: 1rem 2rem;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    resize: none;
}

.formElement fa-icon {
    font-size: 1rem;
    margin-left: 1rem;
}

.formElement input[type="file"] {
    display: none;
}

.formElement .submit {
    border: 1px solid #dcdcdc;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 1.5rem 3rem;
    cursor: pointer;
    color: #e04a32;
    transition: 0.2s ease-in-out;
}

.formElement .submit:hover {
    background-color: #e0e0e0;
}

.formElement .submit:disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.alignRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0;
}

.attachmentIcon {
    color: #aaa;
    margin-right: 2rem;
    font-size: 2rem !important;
}

.issueId {
    color: #1a73e8;
    text-decoration: underline;
    font-weight: 500;
}