header {
    background-color: #f4f7fa;
    min-height: 50px;
    padding-left: 5rem;
    padding-right: 5rem;
    position: relative;
    text-align: end;
}

header .logo {
    height: 100px;
    width: 130px;
    position: absolute;
    top: 0;
    left: 5rem;
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 0 5px #777;
}

header .logo a {
    width: 100%;
    height: 100%;
    background: url('../../../assets/images/logo.png') center center/cover;
}

header .logoSmall {
    display: none;
    position: absolute;
    top: 5px;
    left: 5rem;
    height: 50px;
    width: 50px;
    padding: 5px;
}

header .logoSmall a {
    width: 100%;
    height: 100%;
    background: url('../../../assets/images/rock.png') center center/cover;
}

header .logout {
    font-size: 1.4rem;
    color: #e04a32;
    text-transform: capitalize;
    line-height: 50px;
    height: 100%;
}

header a fa-icon {
    margin-left: 1rem;
}

.banner {
    min-height: 300px;
    width: 100%;
    background: url('../../../assets/images/home-banner.jpg') center center/cover;
    padding-left: 80px;
    display: flex;
    align-items: center;
    color: #fff;
}

.banner h1 {
    text-transform: uppercase;
}

main {
    position: relative;
    display: flex;
    padding: 2.5rem 5rem 5rem;
    background-color: #f4f7fa;
}

nav {
    margin-right: 4rem;
    min-width: 350px;
}

nav .card {
    background-color: #fff;
}

nav .navlink {
    border-bottom: 1px solid #dcdcdc;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

nav .navlink:last-child {
    border-bottom: none;
}

nav .navlink a {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.active {
    color: #e04a32;
}

.extras {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    text-transform: capitalize;
    padding-left: 1rem;
    padding-right: 1rem;
}

.extras .copyright {
    color: #aaa;
}

.extras .helpLinks {
    display: flex;
}

.extras .helpLinks li {
    margin-right: 1.5em;
    color: #64bdfc;
    transition: 0.2s ease-in-out;
}

.extras .helpLinks li:last-child {
    margin-right: 0;
}

.extras .helpLinks li a:hover {
    text-decoration: underline;
}

.content {
    width: 100%;
    position: relative;
}

.navigation {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 48%;
    font-size: 3.6rem;
    color: #e04a32;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 1rem;
    box-shadow: 2px 0 2px #777;
}

.hide {
    display: none !important;
}

@media(min-width: 1920px) {
    main {
        max-width: 1920px;
        margin: 0 auto;
    }
}

@media(max-width: 1300px) {
    main {
        display: block;
    }
    main nav {
        display: none;
        position: fixed;
        top: 48%;
        left: 0;
        z-index: 1;
    }
    main .navOverlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    main .navigation {
        display: inline-block;
    }
    .navActive {
        display: block !important;
    }
}

@media(max-width: 576px) {
    header {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px #ccc;
        z-index: 2;
    }
    header .logo {
        display: none;
    }
    header .logoSmall {
        display: block;
    }
    main nav {
        min-width: 200px;
    }
    .banner {
        display: none;
    }
}