<header (click)="hidenav()">
    <div class="logo">
        <a [routerLink]="['/home']"></a>
    </div>
    <div class="logoSmall">
        <a [routerLink]="['/home']"></a>
    </div>
    <a class="logout" (click)="logout()">
        logout
        <fa-icon [icon]="signOutIcon"></fa-icon>
    </a>
</header>
<div class="banner" (click)="hidenav()">
    <h1>
        posting your thoughts
        <br />
        never been so easy..
    </h1>
</div>
<main>
    <a class="navigation" (click)="showNav()" [ngClass]="{hide: navActive}">
        <fa-icon [icon]="navigateIcon"></fa-icon>
    </a>
    <div class="navOverlay" [ngClass]="{navActive: navActive}" (click)="hidenav()"></div>
    <nav [ngClass]="{navActive: navActive}" (click)="hidenav()">
        <ul class="card">
            <li class="navlink">
                <a class="titleText" [routerLink]="['/home/buzz']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <span>buzz</span>
                    <fa-icon [icon]="rightArrowHead"></fa-icon>
                </a>
            </li>
            <li class="navlink">
                <a class="titleText" [routerLink]="['/home/complaints']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <span>complaints</span>
                    <fa-icon [icon]="rightArrowHead"></fa-icon>
                </a>
            </li>
            <li class="navlink" *ngIf="adminStatus">
                <a class="titleText" [routerLink]="['/home/resolve']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <span>resolved</span>
                    <fa-icon [icon]="rightArrowHead"></fa-icon>
                </a>
            </li>
        </ul>
        <div class="extras">
            <span class="copyright">&copy; 2016 to the new</span>
            <ul class="helpLinks">
                <li><a [routerLink]="['/home/about']">about</a></li>
                <li><a [routerLink]="['/home/help']">help</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</main>