<div class="card" id="card">
    <div class="header">
        <h5>
            your complaints
        </h5>
        <div class="filterSelect titleText">
            <div class="fieldGroup">
                <input type="text" [(ngModel)]="searchField" placeholder="Search">
                <ttnd-dropdown placeholder="Search Field" class="dropdown" [noSelect]="true" [options]="searchOptions"
                    #searchOptionsFilter (selectChanged)="getSearchFilter($event)"></ttnd-dropdown>
            </div>
            <ttnd-dropdown [bordered]=true class="dropdown ml-1" placeholder="Department" [noSelect]="true"
                [options]="departmentFilterOptions" (selectChanged)="getDeptFilter($event)" #deptOptionsFilter>
            </ttnd-dropdown>
            <ttnd-dropdown [bordered]=true class="dropdown ml-1" placeholder="Status" [noSelect]="true"
                [options]="statusFilterOptions" (selectChanged)="getStatusFilter($event)" #statusOptionsFilter>
            </ttnd-dropdown>
            <a (click)="applyFilters()" class="filterControl green" title="Apply filters">
                <fa-icon [icon]="tickIcon"></fa-icon>
            </a>
            <a (click)="resetFilters()" class="filterControl red" title="Reset filters">
                <fa-icon [icon]="resetIcon"></fa-icon>
            </a>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                department
            </th>
            <th>issue id</th>
            <th>locked by</th>
            <th>assigned to</th>
            <th>status</th>
        </tr>
        <tr *ngFor="let complaint of complaints">
            <td>{{complaint.department}}</td>
            <td>
                <a class="issueId" (click)="openMoreInfo(complaint)">{{complaint.issueId}}</a>
            </td>
            <td>{{complaint.lockedBy}}</td>
            <td>{{complaint.assignedTo}}</td>
            <td>
                <ttnd-dropdown (click)="getClickedElementRef($event)" [options]="statusOptions"
                    [select]="currentComplaintStatus(complaint.status)"
                    (selectChanged)="getDropdownValue($event, complaint._id)">
                </ttnd-dropdown>
            </td>
        </tr>
    </table>
    <div class="popupBg" *ngIf="timePopupVisible"></div>
    <form (ngSubmit)="updateEstimatedTime(form)" *ngIf="timePopupVisible" class="timeInputs"
        [ngStyle]="timePopupPosition" #form="ngForm">
        <h6>
            estimated time to resolution
        </h6>
        <div class="formElementGroup">
            <input ngModel name="duration" type="number" placeholder="Count" required>
            <ttnd-dropdown class="formDropdown" placeholder="Type" [bordered]="true" (selectChanged)="timeType($event)"
                [options]="[['hours', 'hours'], ['days', 'days'], ['weeks', 'weeks'], ['months', 'months']]" #timeTypeSelect>
            </ttnd-dropdown>
        </div>
        <button type="submit" class="submit" [disabled]="!estimatedTimeType || !form.valid">
            <fa-icon [icon]="rightArrowIcon"></fa-icon>
        </button>
    </form>
    <div class="moreInfo" *ngIf="complaintDetailsVisible">
        <div class="content">
            <a class="close" (click)="closeMoreInfo()">&times;</a>
            <h1>
                <span class="issueId">{{complaintDetailsObject.issueId}}</span>
                <span class="status titleText">({{complaintDetailsObject.status}})</span>
                <span class="date titleText">{{complaintDetailsObject.timestamp | date}}</span>
            </h1>
            <div class="details titleText">
                <span class="dept">Department:&nbsp;{{complaintDetailsObject.department}}</span>
                <span class="assignedTo">Assigned&nbsp;to:&nbsp;{{complaintDetailsObject.assignedTo}}</span>
                <span *ngIf="complaintDetailsObject.status === 'In Progress'" class="assignedTo">
                    Estimated&nbsp;Time:&nbsp;{{complaintDetailsObject.estimatedTime.value}}&nbsp;{{complaintDetailsObject.estimatedTime.spanType}}</span>
            </div>
            <p class="description">
                {{complaintDetailsObject.description}}
            </p>
        </div>
    </div>
</div>