.card:first-child {
    margin-bottom: 2rem;
}

.card:first-child .header {
    margin-bottom: 0;
}

.header {
    padding: 1rem 2rem;
    background-color: #f2f2f2;
}

.header h5 {
    margin-bottom: 1rem;
}

.body {
    padding: 1rem;
    border-bottom: none !important;
    background-color: #fff;
    position: relative;
}

.body form {
    display: flex;
    flex-wrap: wrap;
}

.formElement {
    flex-basis: 50%;
    padding: 1rem;
    font-size: 1.4rem;
}

.formElement label {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.formElement input {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 1.6rem;
    padding: 1rem 2rem;
}

.fullwidth {
    flex-basis: 100%;
}

.formElement textarea {
    width: 100%;
    height: 150px;
    padding: 1rem 2rem;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    resize: none;
}

.formElement fa-icon {
    font-size: 1rem;
    margin-left: 1rem;
}

.formElement input[type="file"] {
    display: none;
}

.formElement .submit {
    border: 1px solid #dcdcdc;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 1.5rem 3rem;
    cursor: pointer;
    color: #e04a32;
    transition: 0.2s ease-in-out;
}

.formElement .submit:hover {
    background-color: #e0e0e0;
}

.formElement .submit:disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.alignRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0;
}

.attachmentIcon {
    color: #aaa;
    margin-right: 2rem;
    font-size: 2rem !important;
}

.issueId {
    color: #1a73e8;
    text-decoration: underline;
    font-weight: 500;
}

.loader {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.loader span {
    color: #f00;
    font-size: 1.8rem;
}

tbody {
    display: block;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em);
    border-bottom: 1px solid #dcdcdc;
}

.fixHeight {
    max-height: 300px;
    overflow-y: scroll;
}

.lazyLoader {
    background-color: #fff !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.lazyLoader span {
    color: #f00;
    font-size: 1.8rem;
}

.moreInfo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.moreInfo .content {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 2px #777;
    border-radius: 4px;
    padding: 2rem 3rem;
    max-height: 300px;
    overflow-y: auto;
}

.moreInfo .content .close {
    font-size: 2rem;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.2s ease-in-out;
}

.moreInfo .content .close:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.moreInfo .content h1 {
    margin-bottom: 2rem;
}

.moreInfo .content h1 .issueId {
    cursor: pointer;
}

.moreInfo .content h1 .status {
    font-size: 1.4rem;
    margin-left: 1rem;
}

.moreInfo .content h1 .date {
    font-size: 1.4rem;
    width: 100%;
}

.moreInfo .content .details {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.moreInfo .content .details .dept {
    font-size: 1.8rem;
    width: 100%;
    margin-bottom: 5px;
}

.moreInfo .content .assignedTo {
    width: 100%;
}

.moreInfo .content .description {
    font-size: 1.2rem;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 12;
}

.overlay .processing fa-icon {
    font-size: 6.4rem;
    color: #adff2f;
}

.overlay .processing span {
    font-size: 2.4rem;
    color: #ff0000;
    text-align: center;
}

.filterSelect {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-size: 1.2rem;
    height: 45px;
    margin-top: 1rem;
    outline: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.filterSelect>span {
    text-transform: capitalize;
}

.filterSelect fa-icon {
    margin-left: 5px;
}

.filterSelect .fieldGroup {
    display: flex;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    flex: 2;
    min-height: 40px;
}

.filterSelect .fieldGroup input {
    border: none;
    min-width: 100%;
    padding-left: 1rem;
    border-radius: inherit;
}

.filterSelect .fieldGroup .dropdown {
    flex: 1;
}

.filterSelect .dropdown {
    flex-basis: 25%;
}

.filterSelect .filterControlContainer {
    text-align: right;
    width: 80px;
}

.filterSelect .filterControl {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    margin-left: 1rem;
    transition: 0.2s ease-in-out;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding-right: 5px;
    margin-top: 2px;
}

.filterSelect .filterControl:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.ml-1 {
    margin-left: 1rem;
}

.green {
    color: #10be1f;
}

.red {
    color: #f00;
}

@media(max-width: 720px) {
    .filterSelect {
        flex-wrap: wrap;
        height: auto;
    }
    .filterSelect .fieldGroup {
        flex-basis: 78%;
    }
    .filterSelect .fieldGroup, .filterSelect .filterControlContainer {
        order: 1;
    }
    .filterSelect .dropdown {
        flex: 1;
        order: 2;
        margin-top: 1rem;
    }
    .ml-none {
        margin-left: 0;
    }
}

@media(max-width: 576px) {
    .formElement {
        flex-basis: 100%;
    }
}