<div class="select">
    <a class="title titleText" [ngClass]="{optionsVisible: optionsVisible, bordered: bordered}">
        <span>{{ heading ? heading : placeholder }}</span>
        <fa-icon [icon]="optionsVisible ? upArrowHead : downArrowHead"></fa-icon>
        <div class="clickHandle" (click)="toggleOptions()"></div>
    </a>
    <ul *ngIf="optionsVisible" class="options">
        <li *ngFor="let option of options; let i = index" (click)="updateHeading(option, i)">{{ option[1] }}</li>
    </ul>
</div>